
body {
    background-color: #118882;
    color: white;
    font-family: "Science Gothic", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #0cbae6;
    color: white;
    font-family: "Science Gothic", sans-serif;
}